name: Rust Tests
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  MISE_EXPERIMENTAL: true
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: rustup target add wasm32-unknown-unknown
      - run: |
          sudo apt update && sudo apt install -y \
            libglib2.0-dev \
            pkg-config \
            libssl-dev \
            libgtk-3-dev \
            libwebkit2gtk-4.1-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            libxdo-dev \
            patchelf
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - run: mise run ci
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          files: codecov.json
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
