name: Rust Tests
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  MISE_EXPERIMENTAL: true
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: rustup target add wasm32-unknown-unknown
      - run: |
          sudo apt update && sudo apt install -y \
            libglib2.0-dev \
            pkg-config \
            libssl-dev \
            libgtk-3-dev \
            libwebkit2gtk-4.1-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            libxdo-dev \
            patchelf
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
      - run: mise run ci
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          files: codecov.json
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
