<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Nicknamer</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-base-200">
    <div class="container mx-auto p-4">
      <div class="navbar bg-base-100 rounded-box shadow-lg">
          <span class="mx-auto text-xl font-bold">Nicknamer</span>
      </div>

      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome to Nicknamer</h1>
            <p class="py-6">
              This is a placeholder welcome page. You can customize it further
              to provide more information about your application.
            </p>
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>

      <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <aside>
          <p>
            Made with ❤️ by
            <a
              href="https://github.com/tacascer"
              target="_blank"
              rel="noopener noreferrer"
              >tacascer</a
            >
          </p>
        </aside>
      </footer>
    </div>
  </body>
</html>
